/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.col-1of2 {
  float: left;
  width: 50%; }
  @media (max-width: 768px) {
    .col-1of2 {
      width: 100%; } }

.col-1of3 {
  float: left;
  width: 33%; }
  @media (max-width: 768px) {
    .col-1of3 {
      width: 100%; } }

.col-1of4 {
  float: left;
  width: 24%; }

.col-1of5 {
  float: left;
  width: 20%; }

html {
  background: #ebebeb;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

h1 {
  font-size: 24px;
  font-size: 2.4rem;
  padding: 10px 0;
  padding: 1rem 0; }

p {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 10px 0;
  padding: 1rem 0;
  line-height: 22px;
  line-height: 2.2rem; }

.text-center {
  text-align: center; }

.sales-pitch,
footer {
  background: #2d2d2d;
  color: #ffffff; }

.container {
  max-width: 970px;
  margin: 0 auto;
  overflow: hidden; }

.top-nav ul li,
.main-nav ul li {
  display: inline-block; }

.main-nav {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .main-nav {
      width: 100%; } }
  .main-nav ul li {
    background-image: -moz-linear-gradient(90deg, #d7d7d7 0%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #d7d7d7 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, #d7d7d7 0%, white 100%);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
    position: relative;
    padding: 30px 0 40px;
    padding: 3rem 0 4rem; }
    .main-nav ul li:after {
      content: ' ';
      height: 10px;
      width: 100%;
      background-color: #6017a3;
      position: absolute;
      bottom: 0;
      left: 0; }
    @media (max-width: 768px) {
      .main-nav ul li {
        padding: 10px;
        height: 60px; } }
    .main-nav ul li:not(.active) {
      padding: 20px 0 40px;
      padding: 2rem 0 4rem;
      margin-top: 10px;
      margin-top: 1rem; }
      @media (max-width: 768px) {
        .main-nav ul li:not(.active) {
          padding: 10px;
          height: 60px;
          margin-top: 0; } }
      .main-nav ul li:not(.active) a {
        color: #707070; }
      .main-nav ul li:not(.active):after {
        height: 5px; }
    .main-nav ul li img {
      padding-bottom: 15px; }
    .main-nav ul li a {
      font-size: 17px;
      text-decoration: none;
      color: #6017a3; }
      @media (max-width: 768px) {
        .main-nav ul li a span {
          visibility: hidden; } }

.hero-image {
  text-align: center; }
  .hero-image img {
    margin: -10px auto -2px; }
    @media (max-width: 768px) {
      .hero-image img {
        margin: auto; } }

.sales-pitch {
  padding: 55px 100px;
  padding: 5.5rem 10rem; }
  @media (max-width: 768px) {
    .sales-pitch {
      padding: 25px 20px;
      padding: 2.5rem 2rem; } }
  .sales-pitch h1 span {
    font-size: 14px;
    font-size: 1.4rem;
    color: #a161db; }
  .sales-pitch .col-1of3 {
    padding: 10px;
    padding: 1rem; }

.team {
  padding-bottom: 100px;
  padding-bottom: 10rem; }
  .team h1 span {
    font-size: 14px;
    font-size: 1.4rem; }
  .team .profiles .member {
    color: #7b7b7b;
    display: inline-block; }
    .team .profiles .member span {
      font-size: 18px; }
  .team #pagination {
    text-align: center; }
    .team #pagination li {
      display: inline-block; }
    .team #pagination a {
      text-decoration: none;
      color: #a161db;
      font-size: 44px; }
      .team #pagination a:not(.active) {
        color: #7b7b7b; }
  .team .card {
    background: #ffffff;
    padding: 60px 50px 90px;
    padding: 6rem 5rem 9rem; }
    @media (max-width: 768px) {
      .team .card {
        padding: 25px 20px 40px; } }
    .team .card p {
      color: #949494; }
    .team .card .special {
      color: #6017a3; }
  .team .col-1of2.first {
    padding: 10px 10px 10px 0; }
    @media (max-width: 768px) {
      .team .col-1of2.first {
        padding: 10px 0; } }
  .team .col-1of2.second {
    padding: 10px 0 10px 10px; }
    @media (max-width: 768px) {
      .team .col-1of2.second {
        padding: 0; } }
  .team .col-1of1 {
    padding: 10px 0; }

footer {
  border-top: 5px solid #a161db;
  padding-top: 30px;
  padding-top: 3rem; }
  @media (max-width: 768px) {
    footer {
      padding: 30px 10px; } }
  footer .footer-social {
    text-align: center; }
    footer .footer-social .col-1of4 {
      display: inline-block;
      float: none; }
    footer .footer-social a {
      text-decoration: none;
      color: #ffffff; }
    footer .footer-social img {
      padding-bottom: 20px;
      padding-bottom: 2rem; }
