/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */

//variables
$mainBackground: #ebebeb;
$darkBackground: #2d2d2d;
$white: #ffffff;
$purple: #a161db;
$greyText: #949494;
//columns
.col-1of2 {
    float: left;
    width: 50%;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.col-1of3 {
    float: left;
    width: 33%;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.col-1of4 {
    float: left;
    width: 24%;
}

.col-1of5 {
    float: left;
    width: 20%;
}

//base
html {
    background: $mainBackground;
    font-size: 62.5%; // for easier rem to px conversion. 1rem == 10px
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 24px;
    font-size: 2.4rem;
    padding: 10px 0;
    padding: 1rem 0;
}

p {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 10px 0;
    padding: 1rem 0;
    line-height: 22px;
    line-height: 2.2rem;
}

.text-center {
    text-align: center;
}

.sales-pitch,
footer {
    background: $darkBackground;
    color: $white;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    overflow: hidden;
}

.top-nav ul li,
.main-nav ul li {
    display: inline-block;
}

.main-nav {
    width: 80%;
    @media (max-width: 768px) {
        width: 100%;
    }
    margin: 0 auto;
    ul li {
        background-image: -moz-linear-gradient( 90deg, rgb(215, 215, 215) 0%, rgb(255, 255, 255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(215, 215, 215) 0%, rgb(255, 255, 255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(215, 215, 215) 0%, rgb(255, 255, 255) 100%);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
        position: relative;
        &:after {
            content: ' ';
            height: 10px;
            width: 100%;
            background-color: #6017a3;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        padding: 30px 0 40px;
        padding: 3rem 0 4rem;
        @media (max-width: 768px) {
            padding: 10px;
            height: 60px;
        }
        &:not(.active) {
            padding: 20px 0 40px;
            padding: 2rem 0 4rem;
            margin-top: 10px;
            margin-top: 1rem;
            @media (max-width: 768px) {
                padding: 10px;
                height:60px;
                margin-top: 0;
            }
            a {
                color: #707070;
            }
            &:after {
                height: 5px;
            }
        }
        img {
            padding-bottom: 15px;
        }
        a {
            font-size: 17px;
            text-decoration: none;
            color: #6017a3;
            span {
                @media (max-width: 768px) {
                    visibility: hidden;
                }
            }
        }
    }
}

.hero-image {
    text-align: center;
    img {
        margin: -10px auto -2px;
         @media (max-width: 768px) {
				margin: auto;
            }
    }
}

.sales-pitch {
    padding: 55px 100px;
    padding: 5.5rem 10rem;
    @media (max-width: 768px) {
        padding: 25px 20px;
        padding: 2.5rem 2rem;
    }
    h1 span {
        font-size: 14px;
        font-size: 1.4rem;
        color: $purple;
    }
    .col-1of3 {
        padding: 10px;
        padding: 1rem;
    }
}

.team {
    padding-bottom: 100px;
    padding-bottom: 10rem;
    h1 span {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .profiles {
        .member {
            color: #7b7b7b;
            display: inline-block;
            span {
                font-size: 18px;
            }
        }
    }
    #pagination {
        text-align: center;
        li {
            display: inline-block;
        }
        a {
            text-decoration: none;
            color: $purple;
            font-size: 44px;
            &:not(.active) {
                color: #7b7b7b;
            }
        }
    }
    .card {
        background: $white;
        padding: 60px 50px 90px;
        padding: 6rem 5rem 9rem;
        @media (max-width: 768px) {
            padding: 25px 20px 40px;
        }
        p {
            color: $greyText;
        }
        .special {
            color: #6017a3;
        }
    }
    .col-1of2.first {
        padding: 10px 10px 10px 0;
        @media (max-width: 768px) {
            padding: 10px 0;
        }
    }
    .col-1of2.second {
        padding: 10px 0 10px 10px;
        @media (max-width: 768px) {
            padding: 0;
        }
    }
    .col-1of1 {
        padding: 10px 0;
    }
}

footer {
    border-top: 5px solid $purple;
    padding-top: 30px;
    padding-top: 3rem;
    @media (max-width: 768px) {
        padding: 30px 10px
    }
    .footer-social {
        text-align: center;
        .col-1of4 {
            display: inline-block;
            float: none;
        }
        a {
            text-decoration: none;
            color: $white;
        }
        img {
            padding-bottom: 20px;
            padding-bottom: 2rem;
        }
    }
}
